.super-container-title-brand-product {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    padding: 5px;
    border-radius: 5px;
    font-size: 19px;
    background-color: #ffffff;
    margin-bottom: 10px;

}

.container-brand-product {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;

}

.container-brand-product * {
    color: var(--primary-color);
    font-weight: var(--font-weight-sm);
    font-size: 13px;

}

.mobiles-title-brand {

    margin-top: 5PX;
    margin-bottom: 10px;
    padding: 15px;
}

.crt--tlr-brnd {
    margin-bottom: 20px;

}

.di {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    gap: 5px;
    margin-top: 5PX
}

.di p {
    width: 30px;
    height: 18px;
    background-color: #181818;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    font-style: italic;
}

.di a {
    font-style: inherit;
    font-size: small;
}

.brt-irft-lapto {
    display: flex;
    gap: 5px;
    margin-top: 5PX;
}

.brt-irft-lapto h5 {
    font-size: 13px;
    color: #666;
    display: flex;
    gap: 5px;
    margin-right: 8PX;

}

.brt-irft-lapto h4 {
    font-size: var(--font-size-md);
    color: #0a0b0c;
    opacity: 95%;
}



.dsier-strs-lapto {
    display: flex;
    gap: 5px;

}

.dsier-strs-lapto p {
    font-size: 13px;
    color: #497950;

    font-weight: 500;
}

.dsier-strs-lapto .exhausted-for {
    font-size: 13px;
    color: #bc4b51;
    opacity: 90%;
    font-weight: 500;
    margin-right: 15px;
}

.dsier-strs-lapto button {
    padding: 5px;
    border-radius: 5px;
    color: #4c956c;
    border: 1px solid #4c956c;
    font-size: var(--font-size-md);
}

.minus-dolceid-alert-buty {
    opacity: 85%;
    padding: 0px;
    margin: 0px;
    background-color: var(--backgroundColor);
    color: #000000;
    font-weight: 400;
    border: 0px solid #F55050;
    font-size: var(--font-size-md);
}

.shrt-prd-alrt {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.shrt-prd-alrt p {
    font-size: 13px;
    color: #666;
    display: flex;
    gap: 5px;
    margin-right: 8PX;

}

.shrt-prd-alrt a {
    font-size: 13px;
    color: var(--primary-color);
    margin-right: 2PX;
}

.chg-shr-prtd {
    margin-left: 10px;
    font-size: 13px;
    color: #666;

}

.chg-shr-prtd button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px
}


.srte-art-alrt {
    display: flex;
    gap: 5px;
    font-size: 13px;
    color: var(--primary-color);
}

@media only screen and (max-width: 885px) {
    .srte-art-alrt {
        padding-top: 10px;
    }

    .shrt-prd-alrt {
        padding-top: 10px;
    }
}