.crt-expectend-ship {

    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    display: grid;
    gap: 1px;
    border-top: 1px solid var(--border-width-0);
    border-bottom: 1px solid var(--border-width-0);

}

.crt-expectend-ship h5 {
    font-size: 68%;
    font-weight: 500;

}

.srt-shrt-prsrd-nrms {
    display: flex;
    gap: 8px;
    align-items: center;
}

.srt-shrt-prsrd-nrms p {
    font-size: 68%;
    color: var(--color-text-opaque);
    font-size: small;
}

.shrp-prsx {
    display: flex;
    gap: 8px;

}

.alrt-vsrt {
    font-size: 13px;
    color: var(--color-text-opaque);
    font-size: small;
}

.tm-srh-exp {
    font-size: 15px;
    color: #256D85;
    font-weight: var(--font-weight-normal);
}


@media only screen and (max-width: 885px) {
    .crt-expectend-ship {
        height: 100px;
        padding: 10px 0px 10px 0px;
        display: grid;
        justify-content: start;
        align-items: center;
        gap: 0px;
    }

    .alrt-vsrt {

        color: var(--color-text-opaque);
        font-size: small;
    }

    .shrp-prsx {
        display: grid;
        gap: 8px;

    }


}