.button-lapto {
    display: flex;
}

.buttonCart {
    display: grid;
    grid-template-columns: 0.3fr 1fr;

    min-width: 150px;
    background-color: var(--button-cart-backgroundColor);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 7px 15px 7px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonCart:hover {
    color: #fff;
    opacity: 90%;
    border-color: #0a58ca;
}

.buttonPay {
    display: grid;
    grid-template-columns: 0.2fr 1fr;

    min-width: 190px;
    background-color: var(--button-pay-backgroundColor);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 7px 15px 7px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonPay:hover {
    color: #fff;
    opacity: 90%;
    border-color: #0a58ca;
}

.crt-button-mobiles {
    display: none
}



@media only screen and (max-width: 885px) {

    .button-lapto {
        display: none;
    }

    .crt-button-mobiles {
        width: 100%;


        display: grid;

        background-color: var(--backgroundColor);
    }

    .crt-button-mobiles h5 {
        font-size: 13px;
        margin-left: 20px;
        color: #606d80;
        display: flex;
        gap: 5px;
    }

    .button-mobiles {
        width: 100%;
        margin-top: 5px;
        padding: 10px 10px 10px 10px;
        display: grid;

        align-items: center;
        position: relative;
        background-color: var(--backgroundColor);
    }


    .buttonCart,
    .buttonPay {
        min-width: 100%;
        height: 50px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        text-align: left;
        grid-template-columns: 0.7fr 1fr;

    }

    .buttonCart svg {
        position: relative;
        left: 100px;
    }

    .buttonPay svg {
        position: relative;
        left: 100px;
    }




    .buttonCart,
    .buttonPay:hover {
        transition: all 0.9s ease;
    }



}