.crtr-sbr-art {
    background-color: var(--backgroundColor);
}

.drtr-arte-ores {

    display: grid;
    gap: 15PX;
    padding: 8px;
}



h5 {
    font-size: var(--font-size-sm);
    font-weight: 500;
}

.crte-crot-sart {
    display: grid;
    grid-template-columns: 10px auto;
    align-items: flex-start;
    gap: 10px;
}


li {
    display: flex;
    align-items: flex-start;

    text-align: end;
    padding-bottom: 5px;
}

.detailed-list {
    display: grid;
    padding-top: 10PX;
}

.detailed-list div {
    color: var(--text2);
    font-size: 13.5px;
    text-align: start;
}

.detailed-list li {
    color: var(--text2);
    font-size: 13.5px;
    text-align: start;
}

.cirle-bg {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--text3);
    margin-top: 8px;
}

.crets-chrlsr-hrslrs-artes {
    margin-top: 20px;
    display: grid;

}

table {
    width: 400px;
    border-collapse: collapse;
    margin-bottom: 10PX;
}

th,
td {
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
}

th {
    text-align: center;

    background-color: var(--backgroundColor);
}