.super-container {
    width: 100%;
    background-color: var(--color-background-light);
    padding-bottom: 10px;
}

.container-NavAggPayProduct-web {
    position: relative;
    width: 100%;
    padding: 8px;
    padding-top: 10px;
    background-color: var(--color-background-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    z-index: 1;

}

.session_price,
.session_buttons {
    display: flex;

    align-items: center;
    justify-content: center;

    z-index: 1;
}

.session_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20PX;
    border-top: 1px solid rgba(9, 30, 66, 0.13);
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    border-radius: 4px;

}

.content_qty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content_qty span {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-text-light);
}

@keyframes appear {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.tooltip-container {
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-0%);
    margin-top: 10px;
    width: 200px;
}

.font-price {
    font-size: 24px;
    font-weight: 500;
}

.price-tach {
    color: var(--color-text-light);
    font-weight: var(---font-weight-normal);
    font-size: 127%;
}

.ctr-stars {
    position: relative;

    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.ctr-progr {
    display: none;

}

.ctr-stars:hover .ctr-progr {

    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 250px;
    height: 200px;
    justify-content: center;
    background-color: #FFF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 1;
    padding: 10PX 20px;
    transition: opacity 5s;
}

.ctr-stars:hover .ctr-progr {
    animation: smoApp 0.5s ease-in-out;
}



.pr-qtyon {
    display: grid;
    text-align: center;
}


.tolst-tip {
    display: block;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -5px;
    left: calc(4% - 7px);
    z-index: -1;


}

@keyframes tooltip-appear {
    0% {
        opacity: 0;
        /* Ajusta la propiedad transform para mover el tooltip hacia abajo y hacia la derecha */
        transform: translate(-0%, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


.ct-ratig {
    color: var(--color-text-medium-light);
}

.titles-of {
    color: #3C4048;
    font-size: 85%;
}

.info-circle {
    position: relative;
    bottom: 1px;
    right: 2px;

}

.button-discount {
    color: var(--color-red);
}

.button-envio {
    font-size: 95%;
    color: var(--color-text-light);
}

.ctr-p-s {

    display: flex;
    align-items: center;

}

.ctr-porce {
    position: relative;
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-width-1);
    background-color: var(--color-background-light);
    border-radius: 4px;
    z-index: 2;
}

.ctr-p-red {
    border: 1px solid rgb(211, 11, 11);


}

.porce {
    color: rgb(211, 11, 11);
    font-size: 100%;
    font-weight: 500;

}

.ctr-save-pr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 11, 11);
    font-size: 14px;
    color: white;
    width: 130px;
    height: 22px;
    animation: slide-in 0.5s ease-out;
    z-index: 1;

}



/**Tablet and Mobile */

.container-NavAggPayProduct-table-mobiles {
    display: none;
    width: 100%;


    align-items: center;


}


.rating-table-mobiles {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-table-mobiles .rating svg {
    width: 14px;
    height: 14px;
}

.rating-ct-ratig {
    font-size: 13px;
    color: var(--color-text-medium-light);
}

.price-descount-table-mobiles {

    display: flex;
    justify-content: center;
    align-items: center;

}

.ctr-porce-mobiles {
    padding: 3px 10px 3px 10px;
    border: 1px solid var(--border-width-1);
    border-radius: 4px;


}

.porce-mobiles {
    color: rgb(211, 11, 11);
    font-size: var(--font-size-xxs),
}


.price-table-mobiles {

    display: flex;
    justify-content: center;
    align-items: center;

}

.aviso-ahora {
    font-size: 13px;
    color: var(--color-text-medium-dark);
    font-weight: var(---font-weight-light);

}

.title-prtsea {
    font-size: 12px;

    opacity: 75%;
}

.font-price-mobiles {
    font-size: 25px;
    font-weight: 500;
}

.price-tach-mobiles {
    font-size: 14px;
    color: var(--color-text-medium-light);
    margin-bottom: 5px;
}


.no-stock {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.no-stock .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #DC143C;
}

.div-button {
    width: 400px;
    height: 36.5px;

}


.inpt-nbr input {
    width: 35px;
    padding: 2px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.select-input-cart {

    background-color: var(--color-background-light);
    border: 1px solid #d9d9d9;
    overflow: hidden;
    padding: 3px;
    position: relative;
    border-radius: 5px;
}

select {
    color: var(--color-black);
}

select {


    background: transparent;
    border: none;
    font-size: 14px;

}

select:focus {
    outline: none;
}

select {
    display: block;
    padding: 2px 10px;
    ;



}

select option {

    padding: 20px;
}

.select-input-cart::after {

    display: table-cell;
    padding: 7px;
    text-align: center;

    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
}

@media only screen and (max-width: 1185px) {
    .container-NavAggPayProduct-web {
        display: flex;
        padding-top: 10px;
        align-items: center;

    }


    .ctr-porce {
        width: 100PX;
    }

    .div-button {
        display: none;
    }

    .div-input-sertts {
        display: none;
    }


    .super-container {

        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 885px) {
    .container-NavAggPayProduct-web {
        display: none;
    }

    .container-NavAggPayProduct-table-mobiles {
        display: flex;
        height: 80px;
        justify-content: flex-start;
        gap: 10px;
        align-items: baseline;
        padding: 20px;

    }

    .price-table-mobiles {

        font-size: 38px;
        font-weight: 500;
        align-items: center;
        justify-content: flex-start;
    }

    .buttom-mobiles {
        display: flex;
        justify-content: center;
        position: relative;
    }


    .shw-free {
        display: grid;
        justify-content: center;
        font-size: 13px;
        color: #DC143C;
        ;
        font-weight: --var(--font-weight-light);

    }





}

@media only screen and (max-width: 455px) {}