.container_down {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100px;
    opacity: 0.8;

    padding: 10px 0px;

}

.container_down:hover {
    opacity: 1;
}

@media screen and(max-width: 885px) {
    .container_down {
        display: none;
    }
}