.crtr-brst-csr {
    display: flex;

    width: 100%;
    height: 50px;
    padding: 10px;
    justify-content: flex-end;
    gap: 20px;
    background-color: var(--color-background-light);
    border-top: 1px solid var(--border-width-1);
    border-bottom: 1px solid var(--border-width-1);
    ;
}

.opcs {
    display: none;
}


.se-pr {
    color: #33333320;
}

.icrt-heart {
    fill: #33333380;
}

.icrt-info {
    fill: #33333380;
}

.etqsitms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-r-pred {
    display: flex;
    gap: 10PX;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
    color: #333333;
    cursor: pointer;
}

a:hover {


    color: var(--color-blue-vibrant);
}


@media only screen and (max-width: 885px) {
    .q-r-pred {
        display: none;
    }

    .opcs {
        display: grid;
        grid-template-columns: auto 112px;

        gap: 10px;
        align-items: center;
        justify-content: center;
    }

}