.super-container-options-product {
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
}

.title-varitia-srdr {
    font-size: small;
    color: var(--textOpa);
    font-weight: 500;

    padding: 0px 0px 10px 0px;
}

.container-variation-cont-most {
    display: flex;
    flex-direction: row;
    background-color: var(--downBackgroundColor);

}