.super-container-title-brand-product {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;

    border-radius: 5px;
    font-size: 19px;
    background-color: var(--color-background-light);

    padding: 5px 5px 0px 5px;
    padding-bottom: 15px;


}

.container-title-product h4 {
    font-size: 20px;
    font-weight: var(--font-weight-normal);

}

.container__ratings {
    margin-bottom: 5px;
}

.container-brand-product {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;

}

.container-brand-product {
    color: #034cb8;
    font-size: 12px;
    font-weight: 500;
}


.crt--tlr-brnd {
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid var(--border-width-1);

}

.crtr-di {
    display: grid;
    grid-template-columns: auto 80px;

    padding-right: 30px;
}

.brt-shared-art {

    left: 0;
    right: 30px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    justify-content: right;
    top: 5px;


}

.brt-shared-art {
    display: flex;
    gap: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    cursor: pointer;

    border-radius: 8px;
}

.brt-shared-art svg {
    fill: var(--color-text-opaque);

}


.top-1 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    place-content: center;
    background-color: #3B44F6;
    border: 1px solid #fff;
    color: var(--color-background-light);
    font-size: 68%;
    float: left;
    border-radius: 5px;
    font-style: italic;
}

.di {
    height: 30px;
    display: flex;
    text-align: left;
    justify-content: left;
    gap: 10px;
    margin-top: 0PX;
    align-items: center;
}

.di p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    place-content: center;
    background-color: #181818;
    color: var(--color-background-light);
    font-size: 68%;
    border-radius: 5px;
    font-style: italic;

}

.di a {
    font-style: inherit;
    font-size: 68%;
    color: var(--color-text-opaque);
}

.brt-irft-lapto {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.brt-irft-lapto h5 {
    font-size: 63%;
    color: var(--color-text-opaque);
    display: flex;
    gap: 5px;
    margin-right: 8PX;

}

.brt-irft-lapto h4 {
    font-size: 73%;

    color: var(--color-text-opaque);
    display: flex;
    gap: 5px;
    margin-right: 8PX;

}



.dsier-strs-lapto {

    display: flex;
    gap: 5px;
    margin-top: 10px;
    align-items: center;

}

.art-stock {
    display: flex;
    align-items: center;
}

.icrt-checkmark {
    fill: #008000;
}

.dsier-strs-lapto p {
    font-size: 68%;
    color: #008000;
    font-weight: 500;
}

.dsier-strs-lapto .exhausted-for {
    font-size: 68%;
    color: #DC143C;
    opacity: 90%;
    font-weight: 500;
    margin-right: 15px;
}

.dsier-strs-lapto button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    color: #Fff;
    background-color: #362FD9;

    font-size: 14px;
    padding: 5px 10px;
}

.minus-dolceid-alert-buty {
    opacity: 85%;
    padding: 0px;
    margin: 0px;
    background-color: var(--color-background-light);
    color: #cd0000;
    font-weight: 500;

    font-size: var(--font-size-sm);
}

.dsier-strs-lapto div {
    display: flex;
    gap: 5PX;
}

.crtr-shr- {
    display: grid;
    grid-template-rows: 1fr 1fr;

    border: 1px solid var(--border-width-1);
    border-radius: 5px;
}

.shrt-prd-alrt {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 29.5px;
}


.shrt-prd-alrt p {
    font-size: 68%;
    color: var(--color-text-opaque);
    display: flex;
    gap: 5px;


}

.shrt-prd-alrt a {
    font-size: 68%;
    color: var(--color-primary);

}

.chg-shr-prtd {
    margin-left: 10px;
    font-size: 68%;
    color: var(--color-text-opaque);

}

.chg-shr-prtd button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px
}



.srte-art-alrt {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 5px;
    font-size: 68%;
    color: var(--color-primary);

}

.srtrsdr {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: var(--color-primary);
}




.sbr-slr-slri {
    font-size: 12px;
    padding-left: 5px;
}


.review-popup {
    display: none;
    /* hide the review by default */
}

.link-brand {
    color: #034cb8;
    font-size: 12px;
    font-weight: 500;
}

.seller {
    display: flex;
    align-items: center;
}

.seller:hover .review-popup {
    display: block;
    /* show the review when hovering over the seller */
    position: absolute;
    background-color: #FFF;
    padding: 5px;
    margin-top: 0px;
    z-index: 1;
    width: 300px;
    height: 100px;

}

.review-popup {
    display: none;
    /* hide the review by default */
    position: absolute;
    background-color: var(--color-background-light);
    padding: 5px;
    border: 1px solid #d3d3d3;
    z-index: 1;
    width: 200px;
    border-radius: 5px;
    transform: scale(0);
    /* start the review with a scale of 0 */
    transform-origin: 0% 0%;
    /* set the transform origin to the top left corner */
    transition: transform 0.3s ease-in-out;
    /* add a transition effect */
}




.seller:hover .review-popup {
    display: block;
    transform: scale(1);
    /* change the scale to 1 to make the review visible */
}

@media only screen and (max-width: 1150px) {
    .srte-art-alrt {
        width: 100%;
        display: grid;
        justify-content: center;
        gap: 5px;
        font-size: 68%;
        color: var(--color-primary);

    }

    .srtrsdr {
        display: grid;
        grid-template-columns: 10% 90%;
        align-items: center;
        justify-content: c;
    }

    .srtrsdr svg {
        display: grid;
        justify-content: center;
    }
}

@media only screen and (max-width: 950px) {

    .shrt-prd-alrt {
        padding-bottom: 11px;
    }



}

@media only screen and (max-width: 885px) {
    .crtr-shr- {
        display: grid;
        grid-template-rows: 1fr 1fr;

        border: 1px solid transparent;
        border-radius: 5px;
    }

    .dsier-strs-lapto {
        margin-top: 15px;
    }

    .bts-ds {
        margin-bottom: 15px;
    }

    .shrt-prd-alrt {
        height: 70px;
    }

    .crt--tlr-brnd {
        padding: 0px;
    }

    .di {
        grid-template-areas: auto 150px;
    }


    .srtrsdr {
        display: grid;
        grid-template-columns: 5% 95%;
    }

    .srte-art-alrt {
        padding-top: 10px;
    }

    .super-container-title-brand-product {
        background-color: red;
    }

    .mobiles-title-brand {

        margin-top: 5PX;
        margin-bottom: 10px;
        padding: 10px 15PX 30PX 15px;
        background-color: var(--color-background-light);
    }


    .dsier-strs-lapto {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;

        border: 0px;
    }

    .dsier-strs-lapto div {
        display: flex;
        gap: 5PX;
    }


    .minus-dolceid-alert-buty {
        font-size: small;
        color: #cd0000;
        font-weight: 600;
    }


    .dsier-strs-lapto button {

        width: 80%;
    }

    .bts-ds {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .shrt-prd-alrt {
        display: grid;

        grid-template-columns: 30% 30% 40%;
        gap: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;

    }

    .shrt-prd-alrt div {
        display: grid;
        justify-content: center;
    }

    .sbr-slr-slri {
        display: none;
    }

    .crtr-di {
        display: grid;

        padding-right: 0px;
    }

    .crtr-di {
        display: grid;
        grid-template-columns: auto;

        align-self: center;
        margin: 10px 0px;

    }

    .brt-shared-art {
        justify-content: flex-end;
        margin: 10px 0px;
    }


}

@media only screen and (max-width: 350px) {

    .di {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: left;
        justify-content: left;
        gap: 5px;
        margin-top: 0PX;
        align-items: center;
    }



}