.crrtr-srtrt {
    background-color: var(--color-background-light);
    padding: 5px;
}


h5 {
    font-size: var(--font-size-xs);
    font-weight: 500;
    margin-bottom: 5px;
}

.crrtr-srtrt p {
    font-size: small;
    color: #565959;
}

.sr-nf {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 4;
    overflow: hidden;
}

.descr:active {
    display: block;
    cursor: pointer;
}