div {
    display: grid;
    justify-content: center;
}

.buttonCombined {
    display: grid;
    grid-template-columns: 100%;

    min-width: 150px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    border-radius: 6px;
    padding: 5px 17px 5px 17px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonCombined:hover {
    color: #fff;
    opacity: 90%;
    border-color: #0a58ca;
}