.container-all {
    display: flex;
    justify-content: center;
    background-color: var(--color-background-down);

}

.container-address {
    width: 100%;
    padding: 50px 20px;
    min-height: 100rem;
    background-color: #fff;
    border-top: 1px solid var(--border-width-1);

}

.container-header {
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    color: #f81515;
    display: flex;
    justify-content: space-around;
    gap: 180px;

}

.container-header p {
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    color: #000;

}

.container-addresses-existing {
    display: grid;
    grid-template-columns: 813px auto;
    justify-content: space-around;
    padding: 10px 22px;
    margin-bottom: 20px;

    margin: 0 auto;
}

.titulo-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    margin: 50px 0px;
}

.linea {
    flex-grow: 1;
    height: 1px;
    background-color: var(--border-width-1);
    margin: 0 20px;
}


form {
    display: grid;
    grid-template-columns: 550px auto;
    gap: 20px;
    justify-content: space-around;

}

.container-content {
    display: grid;


}

h1 {
    text-align: center;
    margin-top: 50px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
select {
    display: block;
    width: 100%;
    max-width: 550PX;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #66666611;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:valid,
input[type="email"]:valid,
select:valid {
    background-color: #e8f0fe;

}

.container-button-send {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: var(--color-button-pay);
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    padding: 5px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
    border-radius: 3px;

    overflow: hidden;

}

button:hover {
    background-color: #45a049;
}


.options {
    display: grid;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.option {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.option span {
    margin-left: 10px;
}

.option input[type="radio"]:checked+span {
    font-weight: bold;
    color: var(--color-button-pay);
}

.option input[type="radio"]:checked+span::before {
    content: "✔";
    margin-right: 5px;
}

.option input[type="radio"]:checked~.option {
    background-color: #2196F3;
}

.option input[type="radio"] {
    display: none;
}

@media only screen and (max-width: 1555px) {
    .container-address {
        width: 100%;
    }

    .container-header {
        font-size: 17px;
    }

    .titulo-centrado {
        font-size: 15px;
    }

    .option {
        font-size: 14px;
    }
}


@media only screen and (max-width: 885px) {
    form {
        display: block;
    }

    .container-content {
        margin-bottom: 25px;
    }

    .container-header {
        display: block;
    }

    .container-addresses-existing {
        display: block;
    }

    .container-addresses-existing {
        padding: 10px 0px;
    }

    .option {
        margin: 0px;
    }

    .options {
        padding: 56px 0px;
        display: grid;
        gap: 20px;
    }

    button {
        width: 100%;
    }
}