.carousel {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: var(--color-background-light);
    border: 1px solid var(--border-width-3);
    border-radius: 10px;
    padding: 10px;
}

.carousel-button-left,
.carousel-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #333;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    height: 50px;
    width: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}

.carousel-button-left {
    left: 0;
}

.carousel-button-right {
    right: 0;
}

.carousel-button-left[disabled],
.carousel-button-right[disabled] {
    cursor: default;
    color: #bbb;
    background-color: var(--color-grey);
}

.carousel-items {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin: 0 20px;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    margin: 0 10px;
}

.carousel-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.9s ease-in-out;
}

.carousel-item {
    opacity: 1;
    transition: transform 0.2s ease-in-out;
}

.carousel-item.slideout {
    transform: translateX(-100%);
}

.carousel-item.slidein {
    transform: translateX(100%);
}