.comments-box {

    width: 100%;

    margin: 0 auto;
    display: grid;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid var(--border-width-2);
}

.comments-box hs-sr3 {
    color: var(--color-secondary);
}

.comments-box label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}



textarea {
    border: none;
    border-radius: 4px;
    background-color: var(--color-background-light);
    border: 1px solid #e6e6e6;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    min-width: 852px;
    resize: none;
    padding: 10px 10PX;
}

.ctr-butr {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.comments-box button {
    width: 80px;
    height: 30px;
    background-color: #243763;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

.comments-box button:hover {
    background-color: #0069d9;
}


@media only screen and (max-width: 885px) {
    textarea {

        min-width: 152px;
    }
}