.container-all {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0PX 200PX;
    background-color: var(--color-background-white);
    border-top: 1px solid var(--border-width-1);
}

.container-content {
    display: grid;


}

h1 {
    text-align: center;
    margin-top: 50px;
}


.container-pay {
    width: 100%;
    padding: 50px 20px;

    background-color: #fff;
    display: grid;
    gap: 20px;

}

.container-header {
    font-weight: 500;
    font-size: 20px;
    height: 50px;
    line-height: 20px;


    display: flex;
    justify-content: flex-start;
    gap: 180px;

}

.container-header p {
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    color: #000;

}

.container-payes-existing {
    display: grid;
    grid-template-columns: 813px auto;
    justify-content: space-around;
    padding: 10px 22px;
    margin-bottom: 20px;

    margin: 0 auto;
}

.titulo-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    margin: 50px 0px;
}

.linea {
    flex-grow: 1;
    height: 1px;
    background-color: var(--border-width-1);
    margin: 0 20px;
}

.paypal-button {
    background-color: #0070ba;
    border: 1px solid #0070ba;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.paypal-button:hover {
    background-color: #005ea7;
    border: 1px solid #005ea7;
}

.container-info-pay-mobiles {
    display: none;
}

@media only screen and (max-width: 1455px) {
    .container-all {

        padding: 0PX 50PX;
    }
}


@media only screen and (max-width: 885px) {
    .container-all {
        display: grid;
        grid-template-columns: auto;
        padding: 0PX 10PX;
    }

    .container-info-pay-mobiles {
        display: block;
    }

    .container-info-pay {
        display: none;
    }

    .container-pay {
        padding: 45px 4px;
    }
}