.cotent {
    margin: 0 auto;
    max-width: 1800px;
}


.c-c-v {
    width: 100%;
    height: 550px;
    position: relative;
    display: grid;
}

.con-gnl {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    position: absolute;

    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con-par-sld {
    width: 100%;
    height: 300px;
    padding: 5px;
}

.container-carousel-interes,
.container-card-store-categorie {
    margin-bottom: 20px;
    background-color: var(--color-background-white);
    border-radius: 5px;

    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-carousel-interes {
    min-height: 280px;
    color: #ffffff;
}

.container-aoutandingproducts {

    position: relative;
    margin-bottom: 25px;


}

.container-aoutandingproducts .title-show {
    background-color: var(--color-background-white);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;
}

.container-aoutandingproducts .title-show h2 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.container-aoutandingproducts .title-show h2 svg {
    position: relative;
    top: 8px;

}

.container-card-store-categorie {
    padding: 19px;
}

.title-show {
    background-color: #fff;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;

}

.title-show h2 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.show-more a {
    color: #008080;
    font-size: 12.5px;
}

.show-more a:hover {
    color: #008080;
    text-decoration: underline;
}

.error-container {
    text-align: center;
    padding-top: 20%;
}

.error-code {
    font-size: 5em;
    color: #333;
}

.error-message {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 1em;
}

.home-link {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.home-link:hover {
    color: #f4f4f4;
    background-color: #333;
}

.separator_custom {
    width: 100%;
    height: 10px;
    background-color: var(--color-background-down);
    margin: 10px 0px;
}

@media only screen and (max-width: 1305px) {
    .container-aoutandingproducts {
        margin: 20px 20px;
    }

    .container-carousel-interes,
    .container-card-store-categorie {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 1025px) {
    .con-gnl {
        display: grid;
        grid-template-columns: 97%;
    }

    .con-par-sld {
        padding-right: 0px;
    }

    .list-cont {

        width: 97%;
        display: grid;
        align-items: center;
    }

    .container-aoutandingproducts {
        margin: 0px 0px;
    }

    .container-carousel-interes,
    .container-card-store-categorie {
        margin: 0 0px;
    }
}

@media only screen and (max-width: 800px) {
    .con-gnl {
        display: grid;
        grid-template-columns: 100%;
    }

    .c-c-v {
        width: 100%;
        height: 525px;
        position: relative;
        display: grid;
        margin-bottom: 10px;
    }

    .container-aoutandingproducts {
        margin: 30px 0px;
    }

    .container-card-store-categorie {
        padding: 10px 0px 10px 5px;
    }

}