.cotent {
    margin: 0 auto;
    max-width: 1800px;
}


.c-c-v {
    width: 100%;
    height: 550px;
    position: relative;
    display: grid;
}

.con-gnl {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con-par-sld {
    width: 100%;
    padding: 5px;
}

.container-carousel-interes {

    background-color: var(--color-background-white);
    border-radius: 5px;

    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title-show {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;


}

.title-show h2 {
    color: inherit;
    font-weight: 600;
    font-size: 16px;
}

.show-more a {
    color: #008080;
    font-size: 12.5px;
}

.show-more a:hover {
    color: #008080;
    text-decoration: underline;
}

@media only screen and (max-width: 1025px) {
    .con-gnl {
        display: grid;
        grid-template-columns: 97%;
    }

    .con-par-sld {
        padding-right: 0px;
    }

    .list-cont {

        width: 97%;
        display: grid;
        align-items: center;
    }
}