.container-all {
    display:
        grid;
    grid-template-columns: 1FR 1FR 1FR;
    justify-content: space-between;
    gap: 50px;

}

@media (max-width:800px) {
    .container-all {
        padding: 20px 30px;
        overflow-x: scroll;
    }
}