.container-all {
    display:
        grid;
    grid-template-columns: 1FR 1FR;
    justify-content: space-between;
    gap: 20px;
    padding: 0px;


}

@media (max-width:800px) {
    .container-all {
        padding: 0px 0px;
        overflow-x: scroll;
    }
}