.container-all {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    height: 300px;
    border-radius: 10px;
}

.contai-fle {

    display: flex;

    justify-content: space-evenly;
    gap: 20px;
    height: 300px;
    border-radius: 10px;

}

.container-card-books {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.card-searh-books {
    width: 100%;
    height: 50px;
    background-color: var(--color-background-white);
    border-radius: 5px;
    display: grid;
    justify-content: stretch;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-accouts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.caja {
    width: 100%;
    height: 150px;
    max-height: 200px;
    max-width: 300px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--color-background-white);
    border-radius: 5px;
    padding: 19px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.caja h2 {

    color: inherit;
    font-weight: 500;
    font-size: 1.0em;
}

.button-signin {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
}

.button-signin:hover {
    background-color: #f7f8f8;
    border-color: #c1c3c3;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: #0f1111;
    text-decoration: none;
}