.container-all {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    background-color: #FFF;

}

.ctr-stars {
    position: relative;

    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.ctr-progr {
    display: none;

}

.ctr-stars:hover .ctr-progr {

    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 250px;
    height: 200px;
    justify-content: center;
    background-color: #FFF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 1;
    padding: 10PX 20px;
    transition: opacity 5s;
    z-index: 100;
}


.ctr-stars:hover .ctr-progr {
    animation: smoApp 0.5s ease-in-out;
}