.container-card-options {

    display: flex;
    border-radius: 5PX;
    width: 60px;
    height: 60px;
    margin-left: 5px;
    background-color: var(--backgroundColor);
    border: 1px solid #f0efefc4;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    justify-content: center;
}


.container-card-options img {
    object-fit: contain;

}

.super-container-card-options>.active {
    border-radius: 5PX;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}



.super-container-card-options a {
    color: var(--text2);

}




.active {
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}