.category-card {
    width: 300px;
    /* height: 220px; */
    display: grid;
    gap: 12px;
    background-color: var(--color-background-white);
    border-radius: 5px;
    padding: 19px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    ;
}

.category-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 156px;

    padding: 5px;
}

.category-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.category-info {
    padding-left: 5px;
}

.category-info h1 {
    color: inherit;
    font-weight: 600;
    font-size: 18px;
}

.separator {
    width: 100%;
    height: 1px;

    margin: 2px 0;
}