.category-card {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background-white);
    border-radius: 5px;
    padding: 19px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.category-info {
    padding-left: 5px;
}

.category-info h1 {
    color: inherit;
    font-weight: 600;
    font-size: 18px;
}


.show-more {
    text-align: end;
}

.show-more a {
    color: #008080;
    font-size: 12.5px;
}

.show-more a:hover {
    color: #008080;
    text-decoration: underline;
}

.category-img .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

@media only screen and (max-width: 1600px) {
    .category-img {
        min-width: 150px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        overflow: hidden;
    }


}