.buttos-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    border-radius: 5px;
    font-size: 13px;


}

.buttos-cart::-webkit-scrollbar {
    display: none;
}



.button-store-future {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #00000090;
}

.buttos-cart-carsh {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #00000090;
}


.button-shared {
    width: 65px;
    height: 25px;
    color: #00000090;
    padding-top: 3px;
}

.button-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 25px;
    color: #00000090;
    fill: #00000090;
}

.button-store-future:hover {
    color: #000000;
    text-decoration: underline;
}

.buttos-cart-carsh:hover {
    color: #000000;
    text-decoration: underline;
}

.button-favorite:hover {
    color: #000000;
    text-decoration: underline;
}

.button-shared:hover {
    color: #000000;
    text-decoration: underline;
}

.buttons-ca {
    display: grid;
    grid-template-columns: auto 30px auto;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    border-radius: 5px;
    border: 1px solid var(--border-width-1);
}

.buttons-ca button {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    border-radius: 5px;
    width: 30px;
    color: #fff;
}

.buttons-ca .quantity {
    background-color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
}

.buttons-ca .quantity p {
    color: #000;
}

.no-mobiles {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 885px) {
    .buttos-cart {
        display: flex;
        flex-direction: row-reverse;
        gap: 13px;

        font-size: 11.5px;
        border-top: 2px solid var(--color-background-down);

        /* Oculta la barra de desplazamiento en navegadores IE y Edge */
    }

    .no-mobiles {
        display: none;
    }

    /* Oculta la barra de desplazamiento en navegadores Chrome, Safari y Opera */
    .buttos-cart::-webkit-scrollbar {
        display: none;
    }
}