.ctr-box-user {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ctr-box-user .conten {
    width: 100%;
    height: 78px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.verify {
    font-weight: 600;
    display: flex;
    gap: 5px;
}

.container-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-name strong {
    font-size: 13px;
}

.date {
    display: flex;
    align-items: center;
    gap: 20px;
}

.date p {
    font-size: 13px;
}

.crtr-avatar {
    width: 40px;
    height: 40px;

    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-background-lightest);
    border: 1px solid var(--border-width-1);
    object-fit: cover;
}

.ctr-star {

    height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.hea {
    display: grid;
}

.hea-ratgi {
    display: flex;
    gap: 15px;
    align-items: center;
}

.hea-ratgi hs-sr1 {
    width: 69px;
    text-align: center;
}

.ctr-name-time {
    display: grid;
    gap: 10px;

}

.stra {
    display: flex;
    animation: none;
    transition: none
}

.container-last {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-last p {
    font-size: 13px;
}

.container-ratings {
    width: 80px;
}

@media only screen and (max-width: 885px) {
    .ctr-star {

        height: 50px;
        display: grid;
        gap: 10px;
        align-items: center;
    }

    .ctr-box-user {
        display: grid;

        width: 100%;
        height: 150px;
    }

    .crtr-avatar svg {
        width: 35px;
        height: 35px;
    }

    .crtr-avatar {
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--color-background-lightest);
        border: 1px solid var(--border-width-1);
        object-fit: contain;
    }


    .grap-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 1px;
        margin-top: 20px;
        border-radius: 10PX;
    }

}