.category-card {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-background-white);
    border-radius: 10px;
    height: 300px;
    gap: 0px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.container-stars {
    display: flex;
    gap: 5px;
}

.container-a {
    display: grid;
    gap: 20px;
}

.image-container {

    width: 100%;
    height: 250px;

}

.image-container img {

    width: 100%;
    min-width: 150px;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    padding: 20px;

}

.image-container:hover {
    cursor: pointer;
    background-color: var(--color-background-card);

}

.category-info {
    padding-left: 5px;
}

.category-info h1 {
    color: #25303f;
    font-weight: 500;
    font-size: 20px;
}


.show-more {
    text-align: end;
}

.show-more a {
    color: #008080;
    font-size: 12.5px;
}

.show-more a:hover {
    color: #008080;
    text-decoration: underline;
}

@media only screen and (max-width: 1600px) {
    


}

@media only screen and (max-width: 1300px) {
    .category-info h1 {
        color: #25303f;
        font-weight: 500;
        font-size: 16px;
    }

   

}
@media (max-width:800px) {
    .category-card {
        flex-direction: row;
        border-radius: 0;
    }
}