body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container-all {
    display: grid;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;


}

.container-tabs {
    display: flex;
    gap: 20px;
}

.header-tabs-wrapper {

    z-index: 100;
}

.store-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.store-banner {
    width: 100%;
    height: 186px;
    object-fit: cover;
}


.container-tabs {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    width: 100%;
}

.tab-links {
    display: flex;

    list-style-type: none;

    padding: 10px;

}

.tab-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
    padding: 5px 10px;

}



.tabs-nav {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
}

.tabs {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
}


.tab-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;

}

.container-calification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
}

.followers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0px;
}

.followers p {

    color: #000;
    font-size: 13px;

}

.text-follow {
    color: #394867;
}

.nav-links .tabs-nav-active {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #444;
    border-radius: 10px;
}

.active {
    text-align: start;
    border-bottom: 1px solid #8f8f8f;
    padding: 5px 10px;
}


.tab-content {
    padding: 20px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.lgo-movl {
    display: none;
}


@media only screen and (max-width: 768px) {
    .store-banner {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .lgo-movl {
        display: block;
    }

    .nav {
        padding: 0 10px;
        height: 63px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .container-tabs {
        border-top: 1px solid #ccc;
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
        padding: 10px 0px;
    }

    .tab-links li {

        margin-right: 0px;
        padding: 5px 10px;
    }

    .tab-links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-right: 0px;
        padding: 5px 4px;

    }

    .container-calification {
        padding: 0px;
    }

    .follow {
        border-top: 1px solid var(--border-width-1);
        border-bottom: 1px solid var(--border-width-1);
        display: flex;
        justify-content: center;
    }

    .tabs {
        justify-content: center;
    }

}