.cart-future-shop {
    min-width: 291px;
    background-color: transparent;
    border-top: 1px solid var(--border-width-1);
    color: #0f1111;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    position: relative;
    top: 20px;
    text-align: center;


    margin: 20px 0px;
    padding: 20px 20px;
}

.container-titulo {
    margin-top: 0;
    text-align: start;
    font-size: 20px;
    padding: 0px 0px;
}

.container-subtitle {
    width: 100%;
    display: grid;
    justify-content: end;
}

.container-button-cart {
    display: none;
}

.container-cart:hover .container-button-cart {
    display: block;
    background-color: var(--color-primary);
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 10px;
    animation: smoApp 0.5s ease-in-out;
}

.container-list-empty {
    width: 100%;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
}

.container-list-empty:hover {
    box-shadow: rgba(36, 36, 36, 0.5) 0 2px 5px 0;
}

.no-product-message {
    margin: 10px 0px;
}

@media only screen and (max-width: 1605px) {
    .container-cart {
        display: grid;
        grid-template-columns: auto;
    }
}



@media only screen and (max-width: 885px) {
    .container-total-cart {
        padding: 10px;
        justify-content: center;
    }


    .cart-future-shop {
        margin: 0px 0px;

        display: grid;
        gap: 20px;
        background-color: transparent;
        border: none;
        border-radius: none;
        box-shadow: none;
        box-sizing: border-box;
        border-top: 1px solid #33333310;
        border-bottom: 1px solid #33333310;
        min-width: 0px;
        width: 100%;
        padding: 15px;

    }

    .container-button {
        margin: 10px 0px;
    }

    .container-button {
        display: grid;
        justify-content: center;
        align-items: center;
    }

}