.container-card-options {
    margin: 2PX;
    border-radius: 5PX;
    padding: 10px;
    background-color: var(--backgroundColor);
    border: 1px solid #f0efefc4;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.super-container-card-options>.active {

    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}



.super-container-card-options a {
    color: var(--text2);

}

.product-logo-colors {
    width: 50px;
    height: 50px;
}

.product-logo-colors img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.active {
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}