.container-card-options {
    width: 50PX;
    height: 50PX;
    display: flex;
    border-radius: 5PX;

    margin-left: 5px;
    background-color: var(--backgroundColor);
    border: 1px solid #f0efefc4;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.container-card-options img {
    width: 50px;
    height: 50px;

    object-fit: contain;
    padding: 5px;

}

.super-container-card-options>.active {
    border-radius: 5PX;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}



.super-container-card-options a {
    color: var(--text2);

}




.active {
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}