.container-card-options {
    width: 60PX;
    height: 60PX;
    display: flex;
    border-radius: 5PX;
    padding: 3px;
    margin-left: 5px;
    background-color: var(--backgroundColor);
    border: 1px solid #f0efefc4;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container-card-options img {
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    object-fit: contain;

}

.super-container-card-options>.active {
    border-radius: 5PX;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}



.super-container-card-options a {
    color: var(--text2);

}




.active {
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
}