.ctr-login {

    display: grid;
    justify-content: center;

}


.login-container {

    width: 390px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.header-login {

    display: grid;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    height: 100px;
}

.title-login {
    height: 10PX;

    align-items: center;
    font-size: 30px;

}

.sub-title-login {
    color: #333;
}

.form-group {
    color: #000;
    font-weight: 500;

    margin-bottom: 20px;
    margin-top: 20px;
}

.need-account {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
}

input[type="text"] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #66666611;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-new-account-link {
    font-size: 14px;
    color: #0066cc;
    text-decoration: none;
}

.error {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #c00;
}

.login-button {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #00478d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
}

.button-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.terms-and-conditions a {
    color: #0066cc;
    text-decoration: none;
}

.button-error {
    transition: all 0.5s ease;
    transform: translateX(4px);
}

@media only screen and (max-width: 885px) {

    .ctr-login-douvery {
        width: 350px;

    }

    .login-container {
        width: 350px;
    }

    .iteam-douvery {
        position: relative;
        top: 5px;
    }

    .iteam-douvery svg {
        width: 60px;
        height: 60px;
    }

    .iteam-douvery span {
        position: relative;
        bottom: 4px;
        font-size: 25px;
    }
}