.container-all {
    display: grid;
    padding: 0px 0px 50px 0px;
    background-color: var(--color-background-white);
}

.grid-container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 1rem;
    margin: 0rem;
    background-color: var(--color-background-white);
    min-height: 100rem;
}

.filter-section {
    background-color: var(--color-background-white);
    padding: 1rem;
}


.product-section {
    background-color: var(--color-background-white);
    padding: 1rem;
    min-height: 50rem;
}

.container-product-layout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}



.container-product-layout-vert {
    display: grid;

}

.header-product-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.container-button-view-layout {
    display: grid;
    align-items: center;
    justify-content: start;
    width: 80px;
}


.empty-section {
    background-color: #f5f5f5;
    padding: 1rem;
}


.filter-section {
    background-color: #fff;
    border-radius: 10px;

    margin-bottom: 20px;
    overflow: hidden;
}

.filter-section-header {
    align-items: center;

    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.filter-section-header h2 {
    color: #000;
    font-size: 1.5rem;
    margin: 0;
}

.filter {
    display: flex;

    gap: 5px;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #333;

    font-size: 1rem;
    padding: 10px 0px;
    transition: background-color 0.2s ease-in-out;
}

.filter svg {
    width: 20px;
}

.svg-up {
    display: none;
}

.active-undeline {
    padding: 5px 5px;
    text-decoration: underline;
    color: #256D85;
}

.filter-section-body {
    padding: 20px;
    display: grid;
    gap: 8px;
}

.filter-section-body h3 {

    border-radius: 5px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 0px;
}

.filter-section-body label {
    display: block;
    font-size: 1rem;
    margin-bottom: 3px;
}

.filter-section-body input[type="checkbox"] {
    display: none;
}

.filter-section-body input[type="radio"] {
    margin: 0px 10px;
}

.filter-section-body span {
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    padding-left: 30px;
}

.filter-section-body span:before {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid #333;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.filter-section-body input[type="checkbox"]:checked+span:before,
.filter-section-body input[type="radio"]:checked+span:before {
    background-color: #333;
    border-color: #333;
}

.filter-section-body input[type="checkbox"]:checked+span:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    left: 6px;
    top: 3px;
}

.container-sub-category {
    width: 100%;
    padding-left: 20px;
    color: #000;

}

.container-sub-category .item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container-result {
    display: flex;
    gap: 10px;
}




/* Set up select dropdown */
.container-select {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.select {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    position: relative;
    max-width: 500px;


}

.select svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    stroke: #9098A9;
    transition: all 150ms ease;
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 3px 40px 3px 12px;
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    transition: all 150ms ease;
    color: #5b5d63;
}

.select select:required:invalid {
    color: #5A667F;
}

.select select option {
    color: #223254;
    font-size: 12px;
}

.select select option[value=""][disabled] {
    display: none;
}

.select select:focus {
    outline: none;
    border-color: #0077FF;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover svg {
    stroke: #0077FF;
}

.button-1 {

    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 29px;
    padding: 5px 10px 5px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 40px;
}

.button-1:hover {
    background-color: #f7fafa;
}

.button-1:focus {
    border-color: #009595;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.button div {
    width: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 16px 0;
    border-top: 1px solid var(--border-width-0);
    border-bottom: 1px solid var(--border-width-0);
}

.pagination button {
    color: #333;
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.pagination button.active {
    background-color: #333;
    color: #fff;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.pagination button.prev,
.pagination button.next {
    margin: 0 8px;
}


.container-random-product {
    padding: 10px 30px;
    display: grid;
    align-items: stretch;
    grid-template-columns: 100%;
    justify-content: start;
    gap: 15px;
    background-color: var(--color-background-white);
}

@media only screen and (max-width: 1455px) {
    .svg-left {
        display: none;
    }

    .svg-up {
        display: block;
    }

    .filter-section-header {
        display: grid;
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 885px) {
    .svg-up {
        display: none;
    }

    .svg-left {
        display: block;
    }


    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .filter-section-header {
        display: flex;
        padding: 20px;
    }

    .header-product-section {
        display: grid;
        gap: 10px;
    }
}