.ccrt-cnst-prp {
    background-color: var(--color-background-light);
}

.crtr-ppptr {
    position: relative;
    display: flex;

    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
}

.ttle-draw {

    text-align: center;
    display: flex;
    position: relative;

    align-items: center;
    color: var(--color-text-opaque);
    ;
}


.crtr-brts {
    width: 100%;
    height: 100%;

}

.trl-drs {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color-background-light);
}



.trl-drs .arrow-up {
    transform: rotate(360deg);
    transition: transform 300ms ease-in-out;

}

.dropdown-menu {
    display: none;
    min-width: 150px;
    min-height: 500px;

}

.dropdown-menu.show {
    display: block;

}

.crt-drpd {
    position: absolute;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.shad-modal {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-menu {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translateX(-20%);
    background-color: var(--color-background-light);
    padding: 8px 0;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    z-index: 1;
    margin-top: 10px;
}

.tolst-tip {

    display: block;
    border-bottom: 7px solid var(--color-background-light);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -7px;
    left: calc(50% - 7px);

}

.list-container {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;

}

.item-title {
    display: grid;
    grid-template-columns: 30px auto;
    justify-content: flex-start;
    align-items: center;
    color: #0a0b0c;
    padding: 10px 5px;


}

.list-item svg {
    fill: #0a0b0c;
}

.icrt-heart {
    color: #0a0b0c;
}

.list-title {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: #0a0b0c;
    background-color: red;

    border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 885px) {
    .tolst-tip {
        left: calc(90% - 7px);
    }

    .dropdown-menu {
        display: none;
        min-width: 250px;


    }

    .dropdown-menu {
        left: 65%;
        transform: translateX(-65%);
    }
}