.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.container-tabs {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    width: 100%;
}

.tab-links {
    display: flex;

    list-style-type: none;

    padding: 10px;

}

.tab-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
    padding: 5px 10px;

}

.tabs:hover {
    border-bottom: 1px solid #8f8f8f;

}

.tabs-nav {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
}


.nav-links {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.nav-links li {

    padding: 5px 10px;
}

.nav-links .tabs-nav:hover {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #444;
    border-radius: 10px;

}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.nav-search-cart-login {
    display: flex;
    align-items: center;
}

.nav-search {
    padding: 5px 10px;
    border: 1px solid #444;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

.nav-cart,
.nav-login {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.nav-links .tabs-nav-active {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #444;
    border-radius: 10px;
}

.active {
    text-align: start;
    border-bottom: 1px solid #8f8f8f;
    padding: 5px 10px;
}


@media only screen and (max-width: 1283px) {
    .navbar {

        flex-direction: column;
        justify-content: stretch;
        align-items: start;
        gap: 10px;
        padding: 20px;
    }

    .nav-search-cart-login {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .nav-search {
        width: 300px;

    }
}


@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        list-style-type: none;
        padding: 10px;
    }
}