.container-all {
    padding: 50px 20px;
    animation: smoApp 0.6s ease;
    display: grid;
    gap: 20px;
}

.container-title {

    width: 100%;
    height: 50px;

}

.container-title p {
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
}

.container-form {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 30PX 0PX;

}



.container-form .container-inputs {
    justify-content: start;
}

.container-inputs {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.container-inputs div {
    display: grid;

    gap: 0px;
    align-items: center;
}

.container-inputs-password {
    width: 80%;
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    align-items: center;
}

label {
    display: block;
    margin: 30px 0px 5px 0px;
    font-size: 14px;
    color: #444;
}


input[type="text"],
input[type="email"],
select {
    display: block;
    width: 100%;
    min-width: 400px;
    max-width: 550PX;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #66666611;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:valid,
input[type="email"]:valid,
select:valid {
    background-color: #e8f0fe;

}

button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;

    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
    max-width: 200px;
    margin-top: 30px;
}

.container-form-button {
    display: flex;
    justify-content: flex-end;
}

.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 30px 20px 0px 10px;
}

.separator>p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    margin: auto;
    color: #8b8b8b;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
}

.alert-segurity {
    opacity: 0.7;
}

.container-accept {
    display: grid;

}

.container-inputs-password {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    align-items: center;
}

.container-inputs-password label {
    font-size: 14px;
    font-weight: 500;
    color: #313a46;
}

.container-inputs-password input {
    max-width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    overflow: hidden;
    padding: 8px 20px;
    min-width: 300px;
    max-width: 300px;
}

.container-recomendation {
    display: grid;
    gap: 10px;
    margin: 20px 0px;
}