.product-card {
    width: 100%;
    width: 220px;

    min-height: 200px;
    display: flex;
    flex-direction: column;

    text-align: start;
    justify-content:
        center;
    align-items: center;
    background-color: var(--color-background-light);

    padding: 10px 20px;
    position: relative;

}


.product-image {

    height: 170px;
    object-fit: contain;
    padding: 10px 0px;


}