.product-card {
    width: 100%;
    width: 220px;

    min-height: 200px;
    display: flex;
    flex-direction: column;

    text-align: start;
    justify-content:
        center;
    align-items: center;

    padding: 10px 20px;
    position: relative;

}


.product-image {

    height: 150px;
    object-fit: contain;
    padding: 10px 0px;


}

@media only screen and (max-width: 885px) {

    .product-card {
        width: 100%;
        width: 150px;


    }
}