nav {

    display: grid;
    overflow: scroll;
    width: 100%;
    height: 2rem;
    justify-content: left;
    align-items: center;
    padding-left: 4rem;

}

nav::-webkit-scrollbar {
    display: none;
}

.breadcrumb-container {

    width: 100%;
    list-style: none;
    display: flex;
    gap: 7px;

    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    justify-content: flex-start;
    background-color: var(--color-background-light);
    padding-left: 10px;
}

a {
    width: 50;
    white-space: nowrap;
    overflow: hidden;
}

.drs {
    display: grid;
    justify-content: center;
    align-items: center;

}


.breadcrumb-container li {
    display: flex;
    gap: 5px;
    color: #00000090;
}

.breadcrumb-container li.active p {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #00000090;

}

@media only screen and (max-width: 885px) {
    nav {
        display: none;
    }
}