.ctr-box-user {
    width: 60%;

    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    margin-top: 10px;
    padding: 20px 0px;

    border-bottom: 1px solid var(--border-width-1);
}

.ctr-title {
    border-bottom: 1px solid var(--border-width-1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.crtr-avatar {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.crtr-avatar {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-background-lightest);
    border: 1px solid var(--border-width-1);
    object-fit: contain;
}

.ctr-name-time {

    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;


}

.nms-pr {
    position: relative;
    cursor: default
}

.hover-user-inf {
    display: none;
}

.nms-pr:hover .hover-user-inf {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 250px;
    height: 100px;
    background-color: #FFF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.nms-pr:hover .hover-user-inf {
    animation: appear 0.5s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.name-time {
    display: flex;
    gap: 10px;
    align-items: center;
}

.d-rep {
    display: none;

}

.ctr-str {
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ctr-box-user:hover .d-rep {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    right: 30px;
}

.grap-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1px;
    margin-top: 20px;
    border-radius: 10PX;
}

.ctr-img {
    width: 250px;
    height: auto;
    object-fit: contain;

    border-radius: 10PX;

}

.ctr-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4PX;
    border: 1px solid #fff;
}

.ctrIMg {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 4PX;
    background-color: var(--color-background-ligth);
    color: var(--color-text-light);

    border: 1px solid var(--border-width-1);
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ttle-sh {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 885px) {

    .ctr-box-user {
        display: grid;
        grid-template-columns: 50px auto;
        width: 100%;
    }

    .ctr-box-user:hover .d-rep {


        right: 10px;
    }

    .ctr-box-user .d-rep {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        right: 10px;
    }



    .grap-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1px;
        margin-top: 20px;
        border-radius: 10PX;
    }

    .ctr-img {
        width: 100px;
        height: auto;
        object-fit: contain;

        border-radius: 10PX;

    }

}