.container-all {
    width: 60%;
}

.ctr-box-user {


    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    margin-top: 10px;
    padding: 20px 0px;

    border-bottom: 1px solid var(--border-width-0);

}

.ctr-title {
    border-bottom: 1px solid var(--border-width-0);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.crtr-avatar {
    width: 50px;
    height: 50px;

}

.crtr-avatar {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-background-lightest);
    border: 1px solid var(--border-width-0);
    object-fit: cover;
}

.ctr-name-time {

    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;


}

.nms-pr {
    position: relative;
    cursor: default
}

.hover-user-inf {
    display: none;
}

.nms-pr:hover .hover-user-inf {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 250px;
    height: 100px;
    background-color: #FFF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.nms-pr:hover .hover-user-inf {
    animation: appear 0.5s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.name-time {
    display: flex;
    gap: 10px;
    align-items: center;
}

.d-rep {
    display: none;

}

.ctr-str {
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ctr-box-user:hover .d-rep {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    right: 30px;
}

.grap-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1px;
    margin-top: 20px;
    border-radius: 10PX;
}

.ttle-sh {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-vots {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--border-width-1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.container-helpful-nohelpful {
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-helpful {
    display: flex;
    gap: 10px;
    fill: #666;
    color: #666;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;


    align-items: center;
    justify-content: center;
}

.button-helpful p {
    color: #666;
}

.button-helpful:focus {
    border: 1px solid #0F6292;
}

.button-helpful:hover {
    fill: #0F6292;
    color: #0F6292;
}

.button-helpful p:hover {
    color: #0F6292;
}

.button-active {
    fill: #0F6292;
    color: #0F6292;

}

.button-active p {
    color: #0F6292;
}

.container-message {
    margin: 0px 10px;
}

.container-message button {
    fill: #666;
    color: #666;
    display: flex;
    gap: 10px;
    font-size: small;
    align-items: center;
}

.container-message button:hover {
    fill: #0F6292;
    color: #0F6292;
}

.container-img-reviews {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img-reviews .mask {
    display: none;
}

.container-img-reviews:hover .mask {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.mask p {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.container-icon-reply {
    height: 100%;
    display: grid;
    align-items: start;
    justify-content: center;
    padding-top: 30px;

}

.container-icon-reply svg {
    fill: #212A3E;
    color: #212A3E;
}

.reply-comment {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1405px) {
    .reply-comment {
        display: grid;
        grid-template-columns: 50px auto;
        align-items: center;
        justify-content: start;
    }
    .container-all {
        width: 80%;
    }
     }
@media only screen and (max-width: 885px) {

    .ctr-box-user {
        display: grid;
        grid-template-columns: 50px auto;
        width: 100%;
    }

    .ctr-box-user:hover .d-rep {


        right: 10px;
    }

    .ctr-box-user .d-rep {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        right: 10px;
    }



    .grap-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1px;
        margin-top: 20px;
        border-radius: 10PX;
    }

    .ctr-img {
        width: 100px;
        height: auto;
        object-fit: contain;

        border-radius: 10PX;

    }

}