.crtr-firx-prd-prodct {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}


.crtr-books-aresdt {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.book-perm-top {
    display: flex;
    width: 80%;

    height: 27.11px;
    background-color: #f1f5f9;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.book-perm-top h5 {
    font-size: 80%;
    font-weight: 500;


}

.book-perm-top p {
    font-size: 90%;
    color: var(--color-text-opaque);
}

.books-art-crtr {
    display: grid;
    justify-content: center;
}

.books-art-crtr img {
    width: 550px;
    height: 500px;
    object-fit: contain;
    background-color: #f1f5f9;
    padding: 10px 0px;
}




.prvd-books-arts-drs {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f9;
    gap: 10PX;

}


.prvd-books-arts-drs .img_wrap {
    width: 60px;
    height: 60px;
    background-color: #f1f5f9;

    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-width-2);
    border-radius: 5PX;



}


.prvd-books-arts-drs .img_wrap img {
    width: 50px;
    height: 50px;
    object-fit: contain;


}

@media only screen and (max-width: 1350px) {
    .prvd-books-arts-drs {
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: center;


    }
}

@media only screen and (max-width: 1070px) {
    .crtr-firx-prd-prodct {
        padding-top: 10px;
    }

    .book-perm-top {
        display: none;
    }
}



@media only screen and (max-width: 885px) {
    .ig-firx-img img {
        width: 100%;
        height: 250px;
        object-fit: contain;
        border-bottom: 1px solid rgba(204, 204, 204, 0.226);

    }

    .crtr-img-tree {
        padding: 0px;
        display: grid;
        grid-template-columns: 100%;
        object-fit: contain;
        height: 450px;
        overflow: auto;
        margin-bottom: 10PX;

    }

    .crtr-img-tree::-webkit-scrollbar {
        display: none;
    }

    .book-perm-top {
        display: flex;
        width: 100%;
    }

    .prvd-books-arts-drs .img_wrap {
        border: 0px solid #eee;
    }

    .book-perm-top p {
        width: 100px;
        height: 20px;

        overflow: auto;
        align-items: center;
    }
}