.crtr-img-hr-prs {
    display: grid;
    grid-template-rows: 60px 500px;
    margin-bottom: 50px;
}




.preview_img-hrt-lft {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 50px;
    background-color: var(--color-background-card);

}


.img_wrap {
    width: 60px;
    height: 50px;
    border: 1px solid #eee;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: 5PX;

}

.img_wrap img {
    width: 60px;
    height: 50px;
    object-fit: contain;
    padding: 5px;
}


.container-img-product img {
    position: sticky;
    top: 3px;
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: top;
    background-color: var(--color-background-card);
    padding: 10px;



}

.image-zoom {

    z-index: 1000
}


.active-prev-view {
    border: 1px solid var(--color-primary);
    border-radius: 5PX;
}

.img-vertical-mobiles-prev img {
    display: none;
}

.buttons-mobiles {
    display: none;
}

.crt-variations {
    background-color: var(--color-background-light);
    display: grid;
    padding-left: 10px;
    margin-bottom: 10PX;
}

.img-product-llg {
    cursor: pointer;
}



@keyframes desplazamientoIzquierda {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}