.container-all {
    padding: 50px 20px;
    animation: smoApp 0.6s ease;
}

.container-title {

    width: 100%;
    height: 50px;

}

.container-title p {
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
}

.container-box {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;

    align-items: start;
    justify-content: space-around;
}


button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    min-width: 150px;
}

button:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-0.1em);
}

button:active {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.container-box-content {
    width: 80%;
    display: grid;
    gap: 30px;
    text-align: start;
    justify-content: stretch;
    padding: 0px 50px;

}

.container-box-content ul {

    border-radius: 8px;
    box-sizing: border-box;
    color: #0f1111;
    padding: 20px 10px;
    display: grid;
    gap: 5px;
}

.container-box-content ul li {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    border-radius: 5px;
    background-color: var(--color-background-white);

    font-size: 16px;
    font-weight: 400;
    color: var(--color-primary);
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-background-down);


}

li p:first-child {
    font-size: 14px;
    color: #717181 !important;
}

li p:last-child {
    font-size: 15.3px;


    color: #121330 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    max-width: 600px;
    ;
}

.title-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    margin: 50px 0px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--border-width-1);
    margin: 0 20px;
}

@media only screen and (max-width: 1300px) {
    .container-box {
        width: 100%;
        display: grid;
        grid-template-columns: auto;

    }
}

@media only screen and (max-width: 768px) {

    .container-all {

        padding: 10px 0px;
    }

    .container-title p,
    .container-title h6 {
        font-size: 18px;
    }

    .container-title h6 {
        color: #717181;
    }

    .container-box {
        grid-template-columns: auto;
    }

    .container-box-content {
        width: 100%;
        padding: 0px 0px;
    }

    .container-box-content ul li {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 10px;
    }

    .container-box-content ul li p {
        margin-bottom: 5px;
    }

    .container-box-content ul li button {
        margin-top: 10px;
        width: 100%;
    }

    .container-button-change {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}