.container-all {
    display: flex;
    padding: 0 20px;
    background-color: rgb(102, 204, 255);
    animation: change-background-color 10s linear infinite;
}


.container-all {
    background-color: rgb(102, 204, 255);
}

.container-title-thanks {
    display: grid;
    margin-top: 3rem;
    align-items: center;
    gap: 10px;

}

.separator {
    width: 100%;
    border-bottom: 2px solid #333;

}

.titleThank {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px;
}

.container-invoice-print {
    display: none;
}

.container-button-invoince {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    text-align: center;
    background-color: var(--color-background-white);
    padding: 2rem;
    margin-top: 10px;
    height: 850px;
    width: 550px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(35, 85, 161, 0.027) 0px 0px 0px 1px;

}

.container-1 {
    text-align: center;
    background-color: var(--color-background-white);
    padding: 2rem;
    margin-top: 10px;
    height: 800px;
    width: 650px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(35, 85, 161, 0.027) 0px 0px 0px 1px;

}

.success-message {
    display: grid;

    justify-content: center;
    gap: 20px;
    position: relative;
}

.success-message h1 {
    color: var(#E91E63);
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.success-message p {
    font-size: 15px;
    margin-bottom: 3rem;
    text-align: center;
}



.no-verified {
    color: #c2182f;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

span {
    display: flex;
    gap: 5px;
    align-items: center;
}

strong {
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header img {
    max-height: 80px;
}

.separator {
    width: 100%;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.invoice-date {
    text-align: right;
}

.button-view-order {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    -moz-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;

    width: 100%;

}

.button-view-order:hover {
    border: 1px solid #000;
    font-weight: 600;

}


@keyframes change-background-color {
    0% {
        background-color: rgb(102, 204, 255);
    }

    50% {
        background-color: rgb(51, 153, 255);
    }

    100% {
        background-color: rgb(102, 204, 255);
    }
}

@media only screen and (max-width: 885px) {
    .container {

        padding: 1rem;

        width: 100%;
    }

    .container-all {
        display: flex;
        padding: 0 0px;

    }

    .titleThank {
        font-size: 20px;

    }

    .success-message p {
        font-size: 14px;

    }

    span {
        font-size: 12.5px;
    }
}