.product-card {
    width: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    background-color: var(--color-background-light);

    padding: 10px 10px;
    position: relative;

}


.product-image {
    width: 100%;
    max-width: 250px;
    height: 150px;
    object-fit: contain;
    padding: 10px 0px;

}

.product-name,
.product-brand,
.product-price {
    width: 100%;

}

.product-sponsor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.product-name {
    margin: 10px 0;
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 400;
}


.product-name {
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}

.product-name:hover {
    text-decoration: underline;
}



.product-brand {
    font-size: small;
    color: var(--color-primary);
    font-weight: var(--font-weight-normal);
}

.product-price {
    font-size: 14px;
}

.crt-prc {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ETQ- {
    position: relative;
    width: 100%;

    display: grid;
    justify-content: end;
}

.etq-vrs {
    position: absolute;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;

    font-size: 12.5px;
    background-color: var(--color-background-ligth);
    text-align: start;
    width: 100%;
    color: #2940D3;
    fill: #2940D3;
    position: relative;


    border-radius: 5px;
}

.ctr-stars {
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    font-size: var(--font-size-xs);
    color: var(--color-text-medium-light);
    justify-content: flex-start;
    align-items: center;
}

.ctr-progr {
    display: none;

}

.ctr-stars:hover .ctr-progr {

    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 250px;
    height: 200px;
    justify-content: center;
    background-color: #FFF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 1;
    padding: 10PX 20px;
    transition: opacity 5s;
}

.ctr-stars:hover .ctr-progr {
    animation: appearss 0.5s ease-in-out;
}

@keyframes appearss {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.pr-qtyon {
    display: grid;
    text-align: center;
}


.tolst-tip {
    display: block;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -5px;
    left: calc(4% - 7px);
    z-index: -1;


}

@keyframes tooltip-appear {
    0% {
        opacity: 0;
        /* Ajusta la propiedad transform para mover el tooltip hacia abajo y hacia la derecha */
        transform: translate(-0%, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 885px) {
    .product-image {
        height: 180px;
    }

    .product-card {
        width: 180px;
        max-height: 550px;
    }

    .etq-vrs {
        font-size: 10px;
    }

    .ETQ- {
        justify-content: start;
    }
}