.container__all {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-background-white);
    padding: 10px;

    height: 100%;
    min-height: 100rem;
}

.content {
    width: 100%;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.price-history {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    border-radius: 10px;

}

.price-history-item {
    display: flex;
    gap: 100PX;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;

}

.price-history-item:last-child {
    border-bottom: none;
}

.price-history-date {
    color: #2C3333;
    font-size: 14px;
}

.price-history-price {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-increase {
    color: #008000;
    fill: #008000;
}

.price-decrease {
    color: #CD1818;
    fill: #CD1818;
}

.container__product_promotions {
    width: 100%;
    padding: 30px;
}

.title-show {
    display: flex;
    gap: 10px;
}