.container__all {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-background-white);
    padding: 10px;

    height: 100%;
    min-height: 100rem;
}

.content {

    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;


}

.price-history {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--color-background-white);

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.price-history-item {

    gap: 100PX;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid var(--border-width-1);


}

.price-history-item:last-child {
    border-bottom: none;
}

.price-history-date {
    color: #2C3333;
    font-size: 14px;
}

.price-history-price {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-increase {
    color: #008000;
    fill: #008000;
}

.price-decrease {
    color: #CD1818;
    fill: #CD1818;
}

.container__product_promotions {
    width: 100%;
    padding: 30px;
}

.title-show {
    display: flex;
    gap: 10px;
}

.login-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 00px;
    background-color: #fff;
    min-height: 100rem;
    padding: 10px 0px;
}

.content-login {
    display: flex;
    flex-direction: column;


}

.login-popup h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.login-popup p {
    font-size: 16px;
}

.content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.login-popup a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 10px;

    background-color: var(--color-background-white);
    color: var(--color-stars);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.login-popup a:hover {
    background-color: var(--color-stars);
    color: var(--color-background-white);
}