.crtr-charac-bs {
    display: grid;
    gap: 10px;
    padding: 10px 20px;
}

.crrts-title {
    display: grid;
    padding: 0px;
    padding-bottom: 15px;
}

li {
    color: var(--black);
    max-width: 350px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid var(--border-1);
}

.ofrs {
    display: flex;
    gap: 10px;
    align-items: center;

}

.srs-md {
    display: none;
}

@media only screen and (max-width: 885px) {
    .crtr-charac-bs {
        padding: 0px 10px;

    }

    li {

        max-width: 850px;
    }
}