.crtr-combined-info {
    display: grid;
    gap: 5px;
}

.obts {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.dr-ms {
    display: none;
}

.price-conmbr {
    width: 100%;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;

}

.crts-bts {
    position: relative;
    right: 2px;
}

@media only screen and (max-width: 885px) {
    .crtr-combined-info {
        display: grid;
        justify-content: center;
        height: 155px;
    }

    .obts {
        display: flex;
        gap: 20px;
        justify-content: space-between;

    }

    .crtr-combined-info {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 30px;
    }

    .crts-bts {
        position: relative;
        top: 10px;
    }
}

@media only screen and (max-width: 595px) {
    .obts {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    .dr-ls {
        display: none;
    }

    .dr-ms {
        display: block;
    }
}