.container-cajas-nav {

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 78%;
    height: 2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: start;
    padding-top: 0px;

}

.cajas-nav {


    height: 7;
    padding-right: 20px;
    padding-left: 3px;
    padding-top: 0px;
    justify-content: start;
    float: left;



}






nav {
    background-color: #2c3e50;
    display: grid;


    height: 2rem;

    margin: 0 auto;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    text-align: center;
}

nav li {

    display: inline-block;


    align-items: center;
    text-align: center;
    color: #fff;
    margin: 0 auto;

}

nav a:hover {

    text-decoration: underline;
    color: rgba(255, 255, 255, 0.945);
}


@media only screen and (max-width: 1204px) {
    .container-cajas-nav {

        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        width: 100%;


    }
}

@media only screen and (max-width: 1024px) {
    .container-cajas-nav {

        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        width: 95%;


    }
}

@media only screen and (min-width: 2360px) {
    .container-cajas-nav {

        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        width: 65%;


    }
}

@media only screen and (max-width: 665px) {
    nav {
        background-color: #2c3e50;
        display: grid;

        overflow: scroll;

        width: 100%;
        height: 2rem;

        justify-content: left;

        align-items: center;
        padding-right: 5rem;

    }

    nav::-webkit-scrollbar {
        display: none;
    }

    .container-cajas-nav {
        display: flex;
        grid-template-columns: auto;
        gap: 13px;
        margin-left: 13PX;
        align-items: center;

    }

    .cajas-nav {


        padding: 0PX;
    }

    .cajas-nav a {
        display: flex;
        font-size: 12px;
        align-items: center;

    }
}

@media only screen and (max-width: 375px) {
    .container-cajas-nav {

        display: grid;
        grid-template-columns: auto 113px auto auto auto auto;
        overflow: auto;



    }


}