.buttos-cart {
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
    font-size: 13px;


}

.buttos-cart::-webkit-scrollbar {
    display: none;
}