.cart-container {
    display: flex;
    background-color: var(--color-background-light);
    justify-content: center;
    gap: 20px;
}

.cart-total {

    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.container-cart {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}