.container-all {
    animation: smoApp 0.6s ease;
    background-color: var(--background-color-whithe);
    display: grid;
    justify-content: stretch;
    gap: 40px;
    padding-bottom: 50px;
}


.container-title {
    width: 100%;
    padding: 0px 80px;
    margin-top: 30px;
}

.container-title h1 {
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
    color: #111827;
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 98px;
    row-gap: 52px;
}

.store-banner {
    width: 100%;
    height: auto !important;
    background-color: var(--background-color-whithe);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.store-banner img {
    width: 100%;
    height: auto !important;

}

.box {
    flex: 1 0 calc(100.333% - 98px);
    /* 33.333% es un tercio del espacio disponible y 98px es el espacio entre columnas */
    max-width: calc(32.333% - 98px);

}

@media (max-width:800px) {
    ul {
        width: 100%;
        display: grid;
      justify-content: stretch;
    }
     }